@use './utils' as u;
@use './variables' as v;

.menuMobile{
    width: 100%;
    height: auto;
    padding: v.$spacing-400 v.$spacing-400;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;

    @include u.breakpoint('large') {
        display: flex;
        align-items: center;
        gap: 2rem;
        
        &--hamburger, 
        &--close{
            display: none !important;
        }

         &--logo{
            display: flex !important;
            visibility: visible !important;
        }
        
        &--items {
            display: flex !important;
            flex-direction: row;
            color: v.$white;
            
            li {
                margin-right: 1rem;
                font-weight: 600;
            }
        }
    }

    &--logo{}

    &--hamburger{
        display: block;
        width: auto;
        height: auto;

        img{
            width: 20px;
            height: auto;
        }
    }

    &--close{
        display: none;
        width: auto;
        height: auto;
        
        img{
            width: 20px;
            height: auto;
        }
    }

    &--items{
        list-style: none;
        margin: 0;
        font-size: 12px;
        width: 100%;
        text-align: right;
        position: relative;
        z-index: 15;

        @include u.breakpoint('large') {
            display: flex !important;
            visibility: visible !important;
        }

        li {
            display: inline-block;
            padding-inline: .5rem;
            position: relative;
  
            &::after {
                content: '';
                position: absolute;
                bottom: -8px;
                left: 50%;
                transform: translateX(-50%);
                width: 24px;
                height: 2px;
                background-color: v.$white;
                opacity: 0;
                transition: opacity 0.3s;
            }
            
            &:hover::after {
                opacity: 1;
            }
        }
    }
}

.shopNow{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    cursor: pointer;
    gap: v.$spacing-100;
    color: v.$black;
    background-color: v.$white;

    p{
        padding: v.$spacing-100 v.$spacing-200;
        @include v.text-preset-4;
    }
}
.shopNow:hover{
    background-color: v.$grey-100;
}

.switchButton{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: v.$black;

    @include u.breakpoint('large'){
        position: absolute;
        display: flex;
        width: calc((60% - 50%) / 0.66);
        right: 25%;
    }

    &--left, 
    &--right{
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: v.$spacing-300 v.$spacing-300; 

        img{
            width: 14px;
            height: auto;
        }

        @include u.breakpoint('large'){
            padding: v.$spacing-400 v.$spacing-400;

            img{
                width: 20px;
                height: auto;
            }
        }
    }
    &--left:hover,
    &--right:hover{
        background-color: v.$grey-800;
    }
}

.visible{display: block;}
.hidden{display: none;}
.activeMobileMenu{
    width: 100%;
    background-color: v.$white;

    @include u.breakpoint('large') {
        display: flex !important;
        visibility: visible !important;
        background-color: transparent;
    }
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;

    @include u.breakpoint('large') {
        display: none !important;
        visibility: hidden !important;
    }
}