@use './utils' as u;
@use './variables' as v;

.container{
    min-width: 100vw;
    min-height: 100vh;
    height: auto;

    background-color: black;
}

.gallery{
    position: relative;
    width: 100%;
    height: auto;
    
    &--displayed{
        display: block;
        position: relative;

        img{
            width: 100%;
            height: auto;
        }
    }

    &--info{
        display: flex;
        flex-direction: column;
        gap: v.$spacing-200;
        background-color: v.$white;
    }
}

.footer{
    width: 100%;
    height: auto;
    padding: v.$spacing-300 0;

    display: flex;
    flex-direction: column;
    gap: v.$spacing-300;

    background-color: v.$black;

    p{
        @include v.text-preset-3-medium;
        color: v.$white;
    }

    &--about{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: v.$spacing-300;

        h2{
            @include v.text-preset-3-semibold;
            color: v.$white;
        }
    }

    &--imgDark{
        width: 100px;
        height: auto;
    }

    &--imgLight{
        width: 100px;
        height: auto;
    }
}