@use './utils' as u;
@use './variables' as v;

.container{
    position: relative;
    min-height: 100vh;

    max-width: 450px;
    margin: 0 auto;
}

.gallery{
    position: relative;
    width: 100%;
    height: auto;
    
    &--displayed{
        display: block;
        position: relative;
        height: 100%;

        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--info{
        display: flex;
        flex-direction: column;
        gap: v.$spacing-200;
        padding: v.$spacing-800 v.$spacing-500;

        h1{
            @include v.text-preset-2;
            color: v.$black;
            padding-bottom: v.$spacing-100;
        }
        p{
            @include v.text-preset-3-medium;
            color: v.$grey-500;
            padding-bottom: v.$spacing-400;
        }

        button p {
            @include v.text-preset-4;
            color: v.$black;
        }
    }
}

.footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    p{
        @include v.text-preset-3-medium;
        color: v.$white;
    }

    &--about{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: v.$spacing-300;
        background-color: v.$white;
        padding: v.$spacing-600 v.$spacing-500;

        h2{
            @include v.text-preset-4;
            letter-spacing: 6px;
            font-size: v.$font-size-10;
            color: v.$black;
        }
        p{
            @include v.text-preset-3-medium;
            color: v.$grey-500;
        }
    }

    &--imgDark, &--imgLight{
        img{
            display: block;
            width: 100%;
            height: auto;
        }
    }
}