$white: white;
$black: black;
$grey-200: hsl(0, 0%, 85%);
$blue-50: hsl(215, 30%, 92%);
$blue-100: hsl(213, 100%, 98%);
$graient: linear-gradient(to bottom, white, #737373);

$font-size-1: 72px;
$font-size-2: 48px;
$font-size-3: 40px;
$font-size-4: 32px;
$font-size-5: 24px;
$font-size-6: 15px;
$font-size-7: 14px;

$spacing-0: 0px;
$spacing-100: 8px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-600: 48px;
$spacing-800: 64px;
$spacing-1000: 80px;

$letter-spacing-1: 5px;

$font-family-1: 'Josefn Sans Light';
$font-family-2: 'Alata Regular';